extends ../layout

block content
  h1= title

  if author_list.length
    ul.list-group.list-group-flush
      each author in author_list
        li.list-group-item
          a(href=author.url) #{author.name}
          |  (#{author.lifespan})

  else
    p There are no authors.
