extends ../layout

block content
  h1(class="text-3xl md:text-4xl lg:text-5xl mb-5")= title

  if author_list.length
    ul(class="space-y-6")
      each author in author_list
        li(class="")
          a(href=author.url class="link link-primary link-hover text-lg") #{author.name}
          |  (#{author.lifespan})

  else
    p(class="text-lg") There are no authors.
