extends ../layout

block content
  h1= title
  
  if book_list.length
    ul(class="list-group list-group-light")
      each book in book_list
        li(class="list-group-item border-0")
          a(href=book.url) #{book.title}
          |  (#{book.author.name})

  else
    p(class="lead") There are no books.
